<!DOCTYPE html>

<html ng-app="commandeApp">
<head>
    <meta charset="utf-8">   
    <link href="/public/bootstrap.css" rel="stylesheet">
    <link href="/public/commande.css" rel="stylesheet">
    <title>Commandes</title>
</head>

<body ng-controller="CommandeCtrl">
    <div>
        <h1>Générer des commandes</h1>
        <button ng-click="truncateTable();">Truncate table</button>
        <form novalidate>
            Nombre de données : <input type="number" min="1" max="1000" ng-model="addCommande.quantity" required><br />
            Date minimal : <input type="date" ng-model="addCommande.dateMin" required><br />
            Date maximal : <input type="date" ng-model="addCommande.dateMax" required><br />
            <input type="submit" ng-click="submit(addCommande)" value="Save" />
        </form>
    </div>

    <div>
        <h1>Liste des commandes</h1>
        <div ng-repeat="commande in data.commandes">
            <p>{{ commande }}</p>
        </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="/public/commande.js"></script>
</body>
</html>