<!DOCTYPE html>

<html ng-app="commandeApp">
<head>
    <meta charset="utf-8">   
    <link href="/public/bootstrap.css" rel="stylesheet">
    <link href="/public/commande.css" rel="stylesheet">
    <title>Commandes</title>
</head>

<body ng-controller="CommandeCtrl">
    <section class="col-sm-offset-2 col-sm-8">
        <h1>Générer des commandes</h1>
        <form novalidate class="col-sm-offset-1 col-sm-10 text-center">
            <div class="form-group">
                <label for="quantity">Nombre de données</label>
                <input type="number" id="quantity" min="1" max="1000" ng-model="addCommande.quantity" required>
            </div>
            <div class="form-group">
                <label for="dateMin">Date minimale</label>
                <input type="date" id="dateMin" ng-model="addCommande.dateMin" required>
            </div>
            <div class="form-group">
                <label for="dateMax">Date maximale</label>
                <input type="date" id="dateMax" ng-model="addCommande.dateMax" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" ng-click="submit(addCommande)">Générer</button>
                <button type="submit" class="btn btn-danger" ng-click="truncateTable()">Truncate</button>
            </div>
            
        </form>
    </section>

    <section class="col-sm-offset-1 col-sm-10">
        <h1>Liste des commandes</h1>
        <div ng-repeat="commande in data.commandes">
            <p>{{ commande }}</p>
        </div>
    </section>

    <script src="node_modules/angular/angular.js"></script>
    <script src="/public/commande.js"></script>
</body>
</html>