<!DOCTYPE html>

<html ng-app="commandeApp">
<head>
    <meta charset="utf-8">   
    <link href="/public/bootstrap.css" rel="stylesheet">
    <link href="/public/commande.css" rel="stylesheet">
    <title>Commandes</title>
</head>

<body ng-controller="CommandeCtrl">
    <div>
        <h1>Générer des commandes</h1>
        <form novalidate>
            date_fin_fabrication: <input type="text" ng-model="addCommande.date_fin_fabrication" required /><br />
            date_fin_preparation: <input type="text" ng-model="addCommande.date_fin_preparation" required /><br />
            date_fin_expedition: <input type="text" ng-model="addCommande.date_fin_expedition" required /><br />
            date_enregistrement: <input type="text" ng-model="addCommande.date_enregistrement" required /><br />
            <input type="submit" ng-click="submit(addCommande)" value="Save" />
        </form>
    </div>

    <div>
        <h1>Liste des commandes</h1>
        <div ng-repeat="commande in data.commandes">
            <p>{{ commande }}</p>
        </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="/public/commande.js"></script>
</body>
</html>